.container {
      height: 650px;
    }
    
    
    .test {
      background-image: url("/public/images/test4.jpg");
      background-size: cover;
      height: 100%;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
    }
    
    .main-text {
      font-size: 30px;
      text-align: center;
      margin-top: 100px;
      font-family: sans-serif;
      font-weight: bold;
    }
    
    .footer-1 {
      background-color: rgb(22, 20, 20);
      padding: 20px;
      display: flex;
      align-items: center;
    }
    
    .contact {
      color: white;
      
    }
    
    .copywrite {
      color: white;
      padding-left: 21%;    
    }